body{
	margin: 0;
}
.container{
	width:100vw;
	height: 100vh;
	background-image: url(../img/1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding:0;
    margin:0;
    display:inline-block;
}
.containers{	
	padding:0;
    margin:0;
    display:inline-block;
}
.tag{
	position:absolute;
	right: 20px;
	top:15px;
}
.tag2{
	position: absolute;
	right:100px;
	top: 15px;
}
.center{
	width: 100px;
    height: 100px;
	position: absolute;
	top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
a{
	color:black;
	text-decoration: none;


}
a:hover{
	color:#8E0F0F;
}

h1{

	padding: 10px;
	font-family: 'Montserrat', sans-serif;
}
h3{
	text-decoration: none;
	border-bottom: 1px solid black;
	text-transform: uppercase;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
}
h2{
	text-decoration: none;
	
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}
.container2{
	width:100vw;
	height: 100vh;
	background-color: rgb(234, 226,217);
	padding:0;
    margin:0;
    display:inline-block;
}
.about{
	width: 100px;
    height: 100px;
	position: relative;
	top:200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.p{
	width: 200px;
    height: 150px;
	position: relative;
	top:130px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
p{
	font-family: 'Merriweather', serif;
	font-size: 13px;

}
.button{
	position:relative;
	left:150px;
}
h4{
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
}


.box{
	position:absolute;
	height: 650px;
	width: 1000px;
	background-color:rgb(234, 226,217);
	left:280px;
	z-index: -8;

}
.random{
	width:1000px;

}
.body{
	
	width: 320px;
	/*right:250px;*/
	top:200px;
	float:left;
	margin:10px;
}
.goto{
	position: absolute;
	bottom:-115px;
	right:170px;

}
.block{
	position: relative;
	background-color:rgb(234, 226,217);
	width:230px;
	height: 50px;
	margin: 0 auto;


}
.title span{
	position: relative;
	top:5px;
	border-bottom: 2px solid black;

}
#pic{
	margin:10px;
	float:left;

}
.img{
	width: 600px;
	height:600px;
}
img{
	width:400px;
	height: 400px;
}
.container3, .container4{
	margin: 0 auto;
	width:804px;
	
}
.el1,.el2, .el3,.el4,.el5, .el6, .el7{
	/*position:relative;*/
	width:804px;
	height:404px;
/*	top:100px;
	right:300px;*/

	

}
.top1,.top2, .top3, .top4, .top5, .top6, .top7, .top8, .top9, .top10, .top11, .top12, .top13, .top14 {
	/*position:relative;*/
	width:400px;
	height: 400px;
	float: left;
	margin: 4px 2px 0 0;

}
.top2, .top4, .top6, .top8, .top10, .top12, .top14 {
	/*position: absolute;*/
	width: 400px;
	height:400px;
	margin: 4px 0 0 2px;
	/*right:1px;*/
	/*top:.01px;*/
	
}
.layer1, .layer2, .layer3, .layer4 , .layer5, .layer6, .layer7, .layer8, .layer9, .layer10, .layer11, .layer12, .layer13, .layer14{
  position: relative;
  width: 400px;
  height: 400px;
  top:-402px;
  background: rgb(142, 15,15, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}
.top1:hover .layer1 , .top2:hover .layer2 , .top3:hover .layer3 , .top4:hover .layer4 , .top5:hover .layer5 , .top6:hover .layer6, .top7:hover .layer7, .top8:hover .layer8, .top9:hover .layer9, .top10:hover .layer10, .top11:hover .layer11, .top12:hover .layer12, .top13:hover .layer13, .top14:hover .layer14{
  visibility: visible;
  opacity: 1;
}
.top1:hover .description , .top2:hover .description , .top3:hover .description , .top4:hover .description, .top5:hover .description, .top6:hover .description, .top7:hover .description, .top8:hover .description, .top9:hover .description, .top10:hover .description, .top11:hover .description, .top12:hover .description, .top13:hover .description, .top14:hover .description {
  transform: translateY(0);
}
@media only screen and (max-width: 1150px){
.box{
	position:absolute;
	height: 650px;
	width: 1000px;
	background-color:rgb(234, 226,217);
	left:280px;
	z-index: -8;

}
.random{
	width:950px;

}
.body{
	
	width: 300px;
	/*right:250px;*/
	top:200px;
	float:left;
	margin:10px;
}
.goto{
	position: absolute;
	bottom:-115px;
	right:50px;

}
.block{
	position: relative;
	background-color:rgb(234, 226,217);
	width:230px;
	height: 50px;
	margin: 0 auto;


}
.title span{
	position: relative;
	top:5px;
	border-bottom: 2px solid black;

}
#pic{
	margin:10px;
	float:left;

}
.img{
	width: 600px;
	height:600px;
}


@media only screen and (max-width: 950px){
.img{
	width: 500px;
	height:500px;
}
#pic{
	margin:10px;
	float:left;
}
.random{
	width:920px;
}
.box{
	position:absolute;
	height: 950px;
	width: 1000px;
	background-color:rgb(234, 226,217);
	left:.05px;
	}
.body{
	width: 220px;
	/*right:250px;*/
	top:600px;
	float:left;
	margin:10px;
}
.goto{
	position: absolute;
	bottom:-355px;
	right:20px;
}
.el1,.el2, .el3,.el4,.el5, .el6, .el7{
	position:relative;
	margin: 0 auto;
	width:405px;
	height:808px;

}
.container4{
	margin: 0 auto;
	width: 400px;
}
.top2, .top4, .top6, .top8, .top10, .top12, .top14{
	/*position: absolute;*/
	width: 400px;
	height:400px;
	/*left:0px;*/
	/*top:404px;*/
	margin: 4px 0 0 0;

}
@media only screen and (max-width: 750px){
.img{
	width: 450px;
	height:450px;
}
#pic{
	margin:10px;
	float:left;
}
.random{
	width:820px;
}
.box{
	position:absolute;
	height: 1100px;
	width: 1000px;
	background-color:rgb(234, 226,217);
	left:.05px;
	}
.body{
	width: 190px;
	/*right:250px;*/
	top:600px;
	float:left;
	margin:10px;
}
.goto{
	position: absolute;
	bottom:-455px;
	right:20px;
}

@media only screen and (max-width: 440px){
	
body{
	background-color: rgb(234, 226,217);
}
img{
	width:300px;
	height: 300px;
}
.el1,.el2, .el3,.el4,.el5, .el6, .el7{
	position:relative;
	margin: 0 auto;
	width:305px;
	height:608px;
}
.container4, .container3{
	margin: 0 auto;
	width: 300px;
}
.top1,.top2, .top3, .top4, .top5, .top6, .top7, .top8, .top9, .top10, .top11, .top12, .top13, .top14 {
	/*position:relative;*/
	width:300px;
	height: 300px;
	float: left;
	margin: 4px 2px 0 0;

}
.top2, .top4, .top6, .top8, .top10, .top12, .top14{
	/*position: absolute;*/
	width: 300px;
	height:300px;
	/*left:0px;*/
	/*top:404px;*/
	/*margin: 4px 0 0 0;*/
}
.layer1, .layer2, .layer3, .layer4 , .layer5, .layer6, .layer7, .layer8, .layer9, .layer10, .layer11, .layer12, .layer13, .layer14{
  position: relative;
  width: 300px;
  height: 300px;
  top:-304px;
  background: rgb(142, 15,15, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}
.el1,.el2, .el3,.el4,.el5, .el6, .el7{
	position:relative;
	margin: 0 auto;
	width:305px;
	height:608px;

}
.tag{
	position:absolute;
	right: 20px;
	top:15px;
}
.tag2{
	position: absolute;
	right:20px;
	top: 45px;
}
.img{
	width: 300px;
	height:300px;
}
.title span{
	position: relative;
	top:5px;
	border-bottom: 2px solid black;

}
#pic{
	position: static;
	width:300px;
	margin:0 auto;
}
.random{
	width:400px;
}
.box{
	position:absolute;
	height: 1250px;
	width: 500px;
	background-color:rgb(234, 226,217);
	left:.05px;
	z-index: -8;
	}
.body{
	position:static;
	width: 300px;
	margin:0 auto;
	
	top:505px;
}
.goto{
	position: absolute;
	right:20px;
	top:1330px;
}
p{
	font-family: 'Merriweather', serif;
	font-size: 15px;


