body{
	margin: 0;
}
.container{
	width:100vw;
	height: 100vh;
	background-image: url(../img/1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding:0;
    margin:0;
    display:inline-block;
}
.containers{	
	padding:0;
    margin:0;
    display:inline-block;
}
.tag{
	position:absolute;
	left: 1050px;
	top:-5px;
}
.tag2{
	position: absolute;
	left:1250px;
	top: -5px;
}
.center{
	width: 100px;
    height: 100px;
	position: absolute;
	top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
a{
	color:black;
	text-decoration: none;


}
a:hover{
	color:#8E0F0F;
}

h1{
	padding: 10px;
	font-family: 'Montserrat', sans-serif;
}
h3{
	text-decoration: underline;
	text-transform: uppercase;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
}
h2{
	text-decoration: underline;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
}
.container2{
	width:100vw;
	height: 100vh;
	background-color: rgb(234, 226,217);
	padding:0;
    margin:0;
    display:inline-block;
}
.about{
	width: 100px;
    height: 100px;
	position: relative;
	top:300px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.p{
	width: 200px;
    height: 150px;
	position: relative;
	top:230px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
p{
	font-family: 'Merriweather', serif;
	font-size: 13px;
}
.button{
	position:relative;
	left:150px;
}
h4{
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
}

.container3 , .container4{
	width:100px;
	margin: 0 auto;
}
.box{
	position:absolute;
	height: 650px;
	width: 1000px;
	background-color:rgb(234, 226,217);
	left:280px;

}
.body{
	position:absolute;
	width: 320px;
	right:250px;
	top:200px;
}
.goto{
	position: absolute;
	bottom:-115px;
	right:170px;

}
.block{
	position: relative;
	background-color:rgb(234, 226,217);
	width:230px;
	height: 50px;
	margin: 0 auto;

}
.title{
	position: relative;
	top:5px;

}
#pic{
	position:absolute;
	left:170px;
	top:210px;
}
.img{
	width: 600px;
	height:600px;
}
img{
	width:400px;
	height: 400px;
}
.el1,.el2, .el3,.el4,.el5, .el6, .el7{
	position:relative;
	width:804px;
	height:404px;
	top:100px;
	right:300px;

	

}
.top1,.top2, .top3, .top4, .top5, .top6, .top7, .top8, .top9, .top10,.top11,.top12,.top13{
	position:relative;
	width:400px;
	height: 400px;

}
.top2, .top4, .top6, .top8, .top10, .top12, .top14{
	position: absolute;
	width: 400px
	height:400px;
	right:1px;
	top:.01px;
	
}
.layer1, .layer2, .layer3, .layer4 , .layer5, .layer6, .layer7, .layer8, .layer9, .layer10, .layer11, .layer12, .layer13, .layer14{
  position: relative;
  width: 400px;
  height: 400px;
  top:-402px;
  background: rgb(142, 15,15, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}
.top1:hover .layer1 , .top2:hover .layer2 , .top3:hover .layer3 , .top4:hover .layer4 , .top5:hover .layer5 , .top6:hover .layer6, .top7:hover .layer7, .top8:hover .layer8, .top9:hover .layer9, .top10:hover .layer10, .top11:hover .layer11, .top12:hover .layer12, .top13:hover .layer13, .top14:hover .layer14{
  visibility: visible;
  opacity: 1;
}
.top1:hover .description , .top2:hover .description , .top3:hover .description , .top4:hover .description, .top5:hover .description, .top6:hover .description, .top7:hover .description, .top8:hover .description, .top9:hover .description, .top10:hover .description, .top11:hover .description, .top12:hover .description, .top13:hover .description, .top14:hover .description {
  transform: translateY(0);
}

