body{
	background-color: white;
}

h1{
	font-family: 'Abril Fatface', cursive;
	font-size: 100px;
	color:black;
	font-weight: bolder;
	
}
.title1{
	position: fixed;
	top:250px;
	left:550px;

}
h4{
	font-family: 'Neuton', serif;
	font-size: 30px;
	font-weight: lighter;
	color: blue;

}
.author{
	position: fixed;
	top:420px;
	left: 850px;
}
h3{
	font-family: 'Neuton', serif;
	font-size: 20px;
	text-decoration: underline;
	color:black;


}
.chapter{
	position: absolute;
	top:80px;
	left:150px;
}

p{
	font-family: 'Neuton', serif;
	font-size:20px;
	color: white;
	padding: 10px;
}
.body{
	position: absolute;
	top:130px;
	left: 150px;
	right:150px;
	width:350px;
	background-color: blue;  
}

